.companies .deleted {
	text-decoration: line-through;
}

.companies th {
	width: 14%;
}

.companies .name {
	width: 30%;
}

a.a-brand {
	color: #777777;
}

a.a-brand:hover {
	color: #777777;
	text-decoration: none;
}

.company_nav_bar {
    margin-bottom: 0px;
}

.company_inner_content {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.navbar {
	margin-top: 18px;
}

.bordered {
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	padding: 20px 40px;
	width: 463px;
}

.bank_account {
	margin: 10px 0;
	border-bottom: 1px solid #ddd;
}

.righter {
	float: right;
}

.text-center {
	text-align: center;
}

.lefter {
	width: 130px;
	margin: 5px 30px 5px 0;
}

.margin {
	margin: 5px 0;
}