.companies .deleted {
	text-decoration: line-through;
}

a.a-brand {
	color: #777777;
}

a.a-brand:hover {
	color: #777777;
	text-decoration: none;
}

.company_nav_bar {
    margin-bottom: 0px;
}

.company_inner_content {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}